    
.home-slider {
	position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
	height: 540px;
}
.row{
    align-content: center;
    justify-content: center;
}

.full-center{
    display: flex;
    justify-content: center;
}

.pogoSlider-slide{
    /* background-image: url(); */
}

.pogoSlider-nav-btn {
	background: #000;
}

.pogoSlider-nav-btn--selected {
	background: #d4a81e !important;
}

.pogoSlider--navBottom .pogoSlider-nav {
    bottom: 75px;
}

.pogoSlider--dirCenterHorizontal .pogoSlider-dir-btn {
	display: none;
}

.img-responsive {
	max-width: 100%;
}

.slide_text h3 {
    font-size: 55px;
    font-weight: 600;
    padding: 0;
    line-height: 45px !important;
    text-align: center;
    color: #fff;
}

.slide_text h3 span {
    font-size: 40px;
}

.slide_text h4 {
    font-size: 30px;
    font-weight: 300;
    margin: 10px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.slide_text p {
    color: #d4a81e;
    font-size: 20px;
    font-weight: 300;
    padding-top: 0;
    line-height: normal;
    margin-bottom: 0;
}

.contact_bt {
    width: 180px;
    height: 50px;
    background: #d4a81e;
    color: #fff;
    float: left;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-top: 50px;
    border-radius: 5px;
}

.contact_bt:hover,
.contact_bt:focus {
    color: #fff;
}

.dark_bg .contact_bt {
    margin-top: 30px;
}

.slide_text {
    margin-top: 220px;
    padding-left: 0;
}

.tab_menu {
    width: 100%;
    height: 110px;
    background: #fff;
    float: left;
    border-radius: 10px;
    margin-top: -50px;
    position: relative;
    z-index: 9;
    box-shadow: 0px 0 14px 0 rgba(0,0,0,.3);
    overflow: hidden;
    padding: 0 30px;
}

.tab_menu ul li:nth-child(7),.tab_menu ul li:nth-child(5) {
    background: #002147;
    transform: skew(-30deg);
	color:#fff;
}

.tab_menu ul li:nth-child(6) {
    background: #d4a81e;
    transform: skew(-30deg);
	color:#fff;
}

.tab_menu ul li:nth-child(7) a,.tab_menu ul li:nth-child(5) a {
    transform: skew(30deg);
	float: left;
	color: #fff;
}

.tab_menu ul li:nth-child(6) a {
    transform: skew(30deg);
	float: left;
	color: #fff;
}

.tab_menu ul li span {
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    float: left;
}

.tab_menu ul li {
    width: 14.25%;
    float: left;
    padding: 25px 0;
    display: flex;
    justify-content: center;
}

span.icon {
    float: left;
    width: 100%;
    text-align: center;
}

span.icon img {
    height: 35px;
}

/*------------------------------------------------------------------ Contact -------------------------------------------------------------------*/

.contact-box {
	padding: 70px 0px;
}

.left-contact h2 {
	font-size: 22px;
	font-weight: 500;
	padding-bottom: 30px;
}

.cont-line {
	overflow: hidden;
	margin-bottom: 30px;
}

.icon-b {
	width: 55px;
	height: 55px;
	text-align: center;
	line-height: 55px;
	font-size: 25px;
	margin-right: 15px;
	color: #fff;
	border-radius: 100%;
	background: #d4a81e;
}

.dit-right h4 {
	font-size: 16px;
	color: #3a4149;
	font-weight: 500;
	margin: 0;
	padding: 0;
}

.dit-right p {
	font-size: 14px;
	margin-top: 0;
}

.dit-right a {
	font-size: 14px;
	color: #3a4149;
	font-weight: 300;
	line-height: normal;
}

.dit-right a:hover {
	color: #57cef8;
}

.contact-block {}

.contact_form input {
    width: 100%;
    margin: 15px 0;
    min-height: 60px;
    border: none;
    background: #fff;
    font-size: 17px;
    color: #676767;
    padding: 0px 25px;
}
.full {
    float: left;
    width: 100%;
}
.contact_form textarea {
    width: 100%;
    margin: 15px 0;
    min-height: 60px;
    border: none;
    background: #fff;
    font-size: 17px;
    color: #676767;
    padding: 25px;
    min-height: 120px;
}
.contact_form button {
    background: #e0af14;
    border: none;
    color: #fff;
    width: 200px;
    height: 65px;
    text-transform: uppercase;
    font-size: 21px;
    padding: 0;
    font-weight: 500;
    cursor: pointer;
    transition: ease all 0.5s;
}

.contact-block .form-group .form-control {
	background: #333;
	height: 48px;
	font-size: 14px;
	border: 0;
	padding: 5px 20px;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
	font-weight: 200;
	letter-spacing: 0px;
}

.submit-button .btn-common {
	background-color: #d4a81e;
	height: 45px;
	line-height: 45px;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	padding: 0 20px;
	border: 0;
	outline: 0;
	text-transform: uppercase;
	border-radius: 0px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 0;
	opacity: 1;
}

.contact-block .form-group textarea.form-control {
	height: 150px;
	padding-top: 15px;
}

.submit-button .btn-common:hover {
	background-color: #111;
	opacity: 1;
}

.custom-select {
	height: 45px;
	font-size: 16px;
}

select.form-control:not([size]):not([multiple]) {
	height: calc(45px + 2px);
}

.help-block ul li {
	color: red;
}
