
/* a{
  color: #333;
}
a:hover{
  color: #E8D426;
  text-decoration: none;
} */
.cardNav{
    display: flex;
    justify-content: center;
}
.form-control:focus {

    color: #000;
    background-color: #fff;
    border:2px solid #43919b;
    outline: 0;
    box-shadow: none;

}
/* 
.btn{
  background: #E8D426;
  border: #E8D426;
}
.btn:hover {
  background: #E8D426;
  border: #E8D426;
} */