.mainDiv{
    width: 100%;
    align-items: center;
}


/*=================== fonts ====================*/
.col-md-offset-right-1, .col-lg-offset-right-1 {
  margin-right: 8.33333333%;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
.list_style {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover, a:focus {
  text-decoration: none;
  outline: none;
}


body {
  line-height: 24px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #fff;
}
p{
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

button:focus {
  outline: none;
}



/*---------------------------------------------------- */

.button_hover {
  border-radius: 0px;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  overflow: hidden;
  border: 0px;
  display: inline-block;
  text-align: center;
}

.button_hover:before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  z-index: -1;
  background: #f8b100;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0;
}

.button_hover:hover {
  color: #fff;
}

.button_hover:hover:before {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.book_now_btn {
  width: 100%;
  display: block;
  background: #343a40;
  color: #222222;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  padding: 5px 20px;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */

.hotel_booking_table {
  background: #247a85;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 40px 50px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flexbox;
}

.hotel_booking_table h2 {
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
}

.boking_table {
  margin-left: -50px;
}

.book_tabel_item .form-group {
  margin-bottom: 0px;
}
.hotel_booking_area{
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    /* float: right; */
    width: 100%;
}
.book_tabel_item .form-group .input-group {
  position: relative;
}

.book_tabel_item .form-group .input-group .form-control {
  border: 1px solid #2b3146;
  background: transparent;
  border-radius: 0px;
  font-size: 13px;
  line-height: 38px;
  padding: 0px 20px;
  color: #1e1e1e;
  z-index: 0;
}

.book_tabel_item .form-group .input-group .form-control.placeholder {
  color: #1e1e1e;
}

.book_tabel_item .form-group .input-group .form-control:-moz-placeholder {
  color: #1e1e1e;
}

.book_tabel_item .form-group .input-group .form-control::-moz-placeholder {
  color: #1e1e1e;
}

.book_tabel_item .form-group .input-group .form-control::-webkit-input-placeholder {
  color: #1e1e1e;
}

.book_tabel_item .form-group .input-group .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.book_tabel_item .form-group .input-group .input-group-addon {
  background: transparent;
  padding: 0px;
  border: 0px;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #1e1e1e;
  z-index: 2;
}

.book_tabel_item .input-group {
  margin-bottom: 10px;
}

.book_tabel_item .nice-select {
  background: transparent;
  border-radius: 0px;
  border: 1px solid #2b3146;
  font-size: 13px;
  line-height: 40px;
  height: 40px;
  color: #777;
}

.book_tabel_item .nice-select:after {
  content: "\e874";
  font-family: 'Linearicons-Free';
  font-size: 13px;
  color: #1e1e1e;
  border: 0px;
  top: 0;
  margin-top: 0px;
  right: 20px;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

h2 {
  font-size: 30px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em;
}

.title_w {
  color: #fff;
}

.facilities_area {
  position: relative;
  z-index: 1;
  background: #164b52;
  overflow: hidden;
}

.facilities_area .bg-parallax {
  /* background: url("../image/facilites_bg.jpg") no-repeat scroll center 0/cover; */
  opacity: 0.15;
}

.facilities_item {
  border: 1px solid #777777;
  border-radius: 10px;
  background-color: rgba(249, 249, 255, 0.102);
  padding: 31px 40px 37px;
  color: #fff;
  margin-bottom: 30px;
}

.facilities_item .sec_h4 {
  padding-bottom: 18px;
  color: #fff;
}

.facilities_item .sec_h4 i {
  color: #f3c300;
  font-size: 24px;
  line-height: 38px;
  display: inline-block;
  vertical-align: bottom;
  padding-right: 20px;
}

.facilities_item p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0px;
}

/*=========== End facilities_area css =============*/
/*============ testimonial_area css ============*/
.testimonial_area {
  background: #164b52;
}
.media {
    border: 1px solid #43919b;
    background: #2d5c64;
  padding: 40px;
}

.testimonial_slider .testimonial_item img {
  width: auto;
  margin-right: 30px;
}

.testimonial_slider .testimonial_item p {
  color: #8c8d9e;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0px;
  padding-bottom: 15px;
}

.testimonial_slider .testimonial_item .sec_h4 {
  line-height: 30px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.testimonial_slider .testimonial_item .sec_h4:hover {
  color: #52c5fd;
}

.testimonial_slider .testimonial_item .star a {
  color: #f3c300;
  font-size: 14px;
}

.testimonial_slider .owl-dots {
  text-align: center;
  margin-top: 80px;
}

.testimonial_slider .owl-dots .owl-dot {
  width: 14px;
  height: 14px;
  background: #164b52;
  display: inline-block;
  margin: 0px 5px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.testimonial_slider .owl-dots .owl-dot.active {
  background: #f3c300;
}

/*---------------------------------------------------- */
